<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shudieds.log.storage.dao.LogDao">
    <insert id="upsert" parameterType="java.util.List">
        insert into t_office_log_data
        (SceneCode,
        NodeCode,
        SyncTime,
        SuccessCount,
        FailCount,
        DcId,
        DataType,
        TaskId,
        LinkEnv)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.sceneCode},
            #{item.nodeCode},#{item.syncTime},
            #{item.successCount},#{item.failCount},
            #{item.dcId}, #{item.dataType},
            #{item.taskId}, #{item.linkEnv}
            )
        </foreach>
        on duplicate key update
        SyncTime=VALUES(syncTime) ,
        SuccessCount = SuccessCount+VALUES (successCount),
        FailCount = FailCount+VALUES (failCount)
    </insert>
</mapper>